<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue_Document</title>
    <script src="./lib/vue.js"></script>
    <script src="./lib/axios.js"></script>
    <script src="./lib/vue-router.js"></script>
    <link rel="stylesheet" href="./lib/reset.css">
    <link rel="icon" href="https://cn.vuejs.org/images/logo.png">
    <style>

    </style>
</head>

<body>
    <div id="app">

        <input type="text" v-model='firstname'> +
        <input type="text" v-model='middlename'> +
        <input type="text" v-model='lastname'> =
        <input type="text" v-model='fullname'>
    </div>
    <script>
        // 创建 Vue 实例,得到 ViewModel
        var vm = new Vue({
            el: '#app',
            data: {
                firstname: '',
                lastname: '',
                middlename: ''
            },
            methods: {

            },
            computed: { // 在 computed 中,可以定义一些属性,这些属性,叫做[计算属性],计算属性的本质就是一个方法,只不过,我们在使用这些计算属性的时候,是把他们的名称,直接当做属性来使用的;并不会把计算属性当做方法去调用;

                // 注意1:计算属性,在引用的时候,一定不要加()去调用,直接把他当成普通属性去使用就好了
                // 注意2:只要 计算属性,这个function内部,所用到的任何data中的数据发生了变化,就会立即重新计算这个计算属性的值
                // 注意3:计算属性的求值结果会被缓存起来,方便下次直接调用,如果计算属性方法中,所依赖的任何数据,都没有发生过变化,则不会重新对计算属性求值,方便程序,提高运行效率
                'fullname': function() {
                    return this.firstname + ' - ' + this.middlename + ' - ' + this.lastname
                }
            },
        });
    </script>
</body>

</html>