/* 类选择器 */
.Note_Title_c_1 {
  margin: 25px auto 0 auto;
}

.Note_Title_h1_c_1 {
  font-style: italic;
  font-size: 40px;
  color: skyblue;
}

.t_center {
  text-align: center;
}

.Note_Title_c_2 {
  margin-top: 20px;
}

.gird_layout {
  display: grid; /* 开启grid布局 */
  grid-template-columns: 1fr 6fr; /* 设置布局占比 */
  gap: 20px; /* 设置间距 */
}

.gird_columns_1 {
  background-color: #f7f7f7;
  border: 2px;
  border-radius: 10px;
  border-color: tomato;
  padding:0 3px 0 3px;
}


.Title_text {
  width: 100%;
  height: 140px;
  background-image: url("../img/title.jpg");
  background-repeat: no-repeat;
  background-size: 2000px;
}

.Title_text_d1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1200px;
  height: 110px;
  margin: 0 auto;
}

.Title_h1{
    margin-top: 30px;
}

.Popular_navigation{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.gc1{
    text-align: center;
    padding-top: 7px;
    letter-spacing:10px
}
.gc2{
    text-align: center;
    letter-spacing:10px;
    background-color: white;
    padding:5px 5px 5px 5px;
    border-radius: 3px;
}
.gc3{
    text-align: center;
    letter-spacing:10px;
    background-color: #ececec;
    padding:5px 5px 5px 5px;
    border-radius: 3px;
}


/* id选择器 */
#main {
  width: 1200px;
  margin: 0 auto;
}
#ll{
    color: royalblue;
}
#q{
    color: blue;
}
/* 标签选择器 */
body {
  background-color: #fdfcf8;
}

fieldset {
  border-radius: 10px;
  border-color: rgb(150, 132, 132);
  background-color: rgb(240, 240, 240);

}
hr{
    border-bottom: none;
}
a{
    color: #4d4d4d;
}

a:hover{
    color:tomato;
    font-weight: bold;
}
a:active{
    color:tomato;
    font-weight: bold;
}
span{
    font-size: 14px;
    line-height:20pt;
}
legend{
    text-align: center;
    color: tomato;
    font-weight: bolder;
    font-size: 17px;
}

/* 其他选择器 */
.Title_text_d1 div:nth-child(1) {
  width: 100%;
  height: 100%;
  /* background-color: #aaf; */
  margin-top: 30px;
}

.Title_text_d1 div:nth-child(2) {
  width: 100%;
  height: 80px;
  margin-top: 30px;
  /* background-color: #faa; */
}

.gird_columns_1>div>span{
    text-align: center;
}

.Popular_navigation div{
    width: 100%;
    height: 100%;
}

.Popular_navigation div div{
    width: 95%;
    height: 100%;
    background-color: #ff907d;
    margin: 0 auto;
    border-left: 1px;
    border-right: 1px;
}
.gc1 span{
    color: darkgray;
}