.test_div_01{
    width: 100%;
    height: 120px;
    background-color:red;
    display: grid;
    grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
    gap: 20px;
    /* grid-template-columns:1fr 1fr 1fr; */
}
header{
    grid-area: header;
    background-color: skyblue;
}
aside{
    grid-area: aside;
    background-color: skyblue;
}
main{
    grid-area: main;
    background-color: skyblue;

}
footer{
    grid-area: footer;
    background-color: skyblue;

}