/* ------------------id选择器------------------ */








/* ------------------class选择器------------------ */
.c_body :nth-child(1){ 
    width: 100%;
    height: 200px;
    background-color: skyblue !important;
}

.c_body :nth-child(2),.body :nth-child(3){
    width: 1000px;
    /* height: 200px; */
    margin: 0 auto;
    /* background-color: purple !important; */
}



/* ------------------其他选择器------------------ */
/* div{
    width: 200px;
    height: 200px;
    /* background-color: red; */
} */
