<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <script src="./lib/vue-resource.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap.css">
    <style>

    </style>
</head>

<body>
    <div id="app" v-cloak>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label for="">
                    Name:
                    <input type="text" v-model='name' class="form-control">
                </label>

                <input type="button" value="添加" @click='add()' class="btn btn-primary">
            </div>
        </div>





        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody v-cloak>
                <tr v-for='item in list' :key='item.id'>
                    <!-- <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime}}</td> -->
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>
                        <a href="">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                list: [ // 存放所有品牌列表的数组
                    {
                        id: 1,
                        name: '五菱宏光',
                        ctime: new Date()
                    },
                    {
                        id: 2,
                        name: '众泰',
                        ctime: new Date()
                    },
                    {
                        id: 3,
                        name: '大众',
                        ctime: new Date()
                    },
                ]
            },
            methods: {

                getAlllist() { // 获取所有的车辆的品牌列表
                    // 分析
                    // 1.由于已经导入了 vue-resource 这个包,所以,可以直接通过 this.$http 来发起数据请求
                    // 2.根据 API 文档,知道,获取列表的时候,应该发起一个 get 请求
                    // 3.this.$http.get('url').then(function(result){})
                    // 4.当通过 then 制定回调函数之后,在回调函数中,可以拿到数据服务器返回的 result  
                    // 5.先判断 reuslt.status 是否等于0,如果等于0,就成功了,可以 把result.mesage 赋值给 this.list就完事儿了;如果不等于0,则可以弹框提示失败
                    this.$http.get('http://localhost:5000/vuetest_01').then(result => {
                        // 注意:通过 $http 获取的数据,都在 result.body 里面存放
                        console.log(result);
                        if (result.status === 200) {
                            // 成功了
                            this.list = result.body;
                        } else {
                            // 失败了
                            alert('获取数据失败')
                        }
                    })

                },
                add() { // 添加品牌列表到后台服务器
                    // 分析
                    // 1.经过查看 数据API接口 要发送一个post请求, this.$http.post
                    // 2.this.$http.post() 中接收三个参数 -- 请求的url地址;要提交到服务器的数据,要以对象的形式提交给服务器{name:this.name};是一个配置对象,要以哪种表单数据类型提交过去{emulateJSON:true},以普通表单格式,将数据提交给服务器 application/x-www-form-urlencoded
                    // 3.在post方法中,使用 .then 来设置成功的回调函数,如果想要拿到成功的结果,需要 result.body
                    
                },

            },
            created() { // 当 vm 实例的data 和 methods 初始化完毕后,vm 实例会自动执行这个生命周期函数
                this.getAlllist()
            },
            mounted() { // 这个时候如果发ajax请求的话,虚拟dom已经挂在了页面中,挂载时已经还有假数据,得等待数据,所以尽量在created中发送

            }
        });
    </script>
</body>

</html>