/* =======================指向选择器======================= */
#head_left_ul>li{
    float: left;
    list-style:none;
    margin:10px 10px 10px 5px;
}
head_01_div>div{
    display: inline;
}


/* =======================标签选择器======================= */










/* ========================类选择器======================== */






/* ========================id选择器======================== */
#bg_01_li{
    list-style: none;float: left;
}
#head_01_div{
    /* white-spance:nowrap; */
    white-space: nowrap;
    width: 1920px;
    height: 180px;
    background-image: url('../picture/bg01.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 20% 85%;
}
#head_left_01_div{display:flex}
#Navi_left_li{list-style: none;float: left;padding:10px;margin-right: 40px;}
#Navi01{
    width:100px;height:40px;float:left;background-color:red
}
#Navi02{
    width:100px;height:40px;float:left;background-color:red
}
#Navi03{
    width:100px;height:40px;float:left;background-color:red
}