*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, 'PingFang SC','Microsoft Yahei',sans-serif;

}
img{
    width: 100%;
}
:root{
    --primary-color:#ff434f;
    --secondary-color:#e3e3e3;
    --text-color-lightest:#e7e9ec;
    --text-color-darker:#2e2e2e;
    --text-color-dark:#494949;
    --text-color-gray:#8b8b8b;
    --text-color-dark-gray:#727272;
    --text-color-light-gray:#c6c6c6;
    --backdrop-color:rgba(42,42,42,0.69)
}

header{
    width: 100w;
    height: 80px;
    display: grid;
    padding: 0 40px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: relative;
    z-index: 200;
}

.logo{
    font-size: 24px;
    font-weight: 600;
    color:var(--text-color-lightest)
}

header nav{
    justify-self: end; /*放到最后边*/
}

header nav i{
    color:var(--text-color-lightest)
}

header nav a{
    color: var(--text-color-lightest);
    text-decoration: none;/*去除a标签下划线*/
    margin: 2 24px;
}

header .burger{
    display: none;
}


.glide{
    position: relative;
    top: -80px;
    z-index: 50;
}

.glide__slide img,
.glide__slide video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


.slide-caption{
    position: absolute;/*绝对定位*/
    z-index: 70;
    color:var(--text-color-lightest);
    text-align: center;
    max-width: 60vw;
}


.glide__slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-caption h1{
    font-size: 54px;
    font-weight: 600;
}

.slide-caption h3{
    font-size: 24px;
    margin: 48px 0;
}
.slide-caption.left{
    max-width: 80%;
    text-align: left;
}


.backdrop{
    background: var(--backdrop-color);
    z-index:60;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
}


.explore-btn{
    padding: 14px 32px;
    background-color:var(--primary-color);
    border: 0;
    border-radius: 4px;
    color:var(--text-color-lightest);
    font-size: 18px;
    cursor: pointer;/*鼠标移动到按钮上会有一个小手的形状*/
    outline: none;/*chrome浏览器点击按钮会有一个蓝色的边框，这个选项可以给去掉*/
}














