*{
    padding: 0;
    margin: 0;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 100px auto;
}
.wrapper .box{
    width: 100%;
    height: 100% !important;
}
.wrapper .box img{
    width: 100%;
}
.wrapper #button{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -65px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.wrapper #button img{
    position: absolute;
    top: -23px;
    width: 130px;
}
#b_b{
    background-image: url(https://desk-fd.zol-img.com.cn/t_s1600x900c5/g5/M00/01/0F/ChMkJlbKwo-ITYpmAALfqDm4AE8AALGpwH2f-IAAt_A674.jpg);
    background-repeat: no-repeat;
}